<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="github.znzsofficial.openlua">

    <uses-permission android:name="android.permission.ACCESS_ALL_DOWNLOADS" />
    <!-- 所有文件访问权限 -->
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <!-- 请求忽略电池优化 -->
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.ACCEPT_HANDOVER" />
    <uses-permission android:name="android.permission.ACCESS_BLOBS_ACROSS_USERS" />
    <!-- 在后台使用位置信息 -->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_CHECKIN_PROPERTIES" />
    <!-- 只有在前台运行时才能获取大致位置信息 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 获取额外的位置信息提供程序命令 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <!-- 只能在前台获取精确的位置信息 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 从您的媒体收藏中读取位置信息 -->
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />
    <!-- 查看网络连接 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 查看WLAN连接 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- “勿扰”模式使用权限 -->
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.ACCOUNT_MANAGER" />
    <!-- 识别身体活动 -->
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />
    <!-- 添加语音信息 -->
    <uses-permission android:name="com.android.voicemail.permission.ADD_VOICEMAIL" />
    <!-- 接听来电 -->
    <uses-permission android:name="android.permission.ANSWER_PHONE_CALLS" />
    <uses-permission android:name="android.permission.BATTERY_STATS" />
    <uses-permission android:name="android.permission.BIND_APPWIDGET" />
    <uses-permission android:name="android.permission.BIND_CALL_REDIRECTION_SERVICE" />
    <uses-permission android:name="android.permission.BIND_CARRIER_MESSAGING_CLIENT_SERVICE" />
    <uses-permission android:name="android.permission.BIND_ACCESSIBILITY_SERVICE" />
    <uses-permission android:name="android.permission.BIND_AUTOFILL_SERVICE" />
    <uses-permission android:name="android.permission.BIND_CARRIER_MESSAGING_SERVICE" />
    <!-- 绑定到运营商服务 -->
    <uses-permission android:name="android.permission.BIND_CARRIER_SERVICES" />
    <uses-permission android:name="android.permission.BIND_COMPANION_DEVICE_SERVICE" />
    <uses-permission android:name="android.permission.BIND_CHOOSER_TARGET_SERVICE" />
    <uses-permission android:name="android.permission.BIND_CONDITION_PROVIDER_SERVICE" />
    <uses-permission android:name="android.permission.BIND_DEVICE_ADMIN" />
    <uses-permission android:name="android.permission.BIND_DREAM_SERVICE" />
    <uses-permission android:name="android.permission.BIND_CONTROLS" />
    <uses-permission android:name="android.permission.BIND_INCALL_SERVICE" />
    <uses-permission android:name="android.permission.BIND_MIDI_DEVICE_SERVICE" />
    <uses-permission android:name="android.permission.BIND_NFC_SERVICE" />
    <uses-permission android:name="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE" />
    <uses-permission android:name="android.permission.BIND_INPUT_METHOD" />
    <uses-permission android:name="android.permission.BIND_PRINT_SERVICE" />
    <uses-permission android:name="android.permission.BIND_QUICK_ACCESS_WALLET_SERVICE" />
    <uses-permission android:name="android.permission.BIND_SCREENING_SERVICE" />
    <uses-permission android:name="android.permission.BIND_QUICK_SETTINGS_TILE" />
    <uses-permission android:name="android.permission.BIND_REMOTEVIEWS" />
    <uses-permission android:name="android.permission.BIND_TELECOM_CONNECTION_SERVICE" />
    <uses-permission android:name="android.permission.BIND_TV_INPUT" />
    <uses-permission android:name="android.permission.BIND_TEXT_SERVICE" />
    <uses-permission android:name="android.permission.BIND_TV_INTERACTIVE_APP" />
    <uses-permission android:name="com.android.voicemail.permission.WRITE_VOICEMAIL" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />
    <!-- 修改您的通讯录 -->
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <!-- 启用和停用同步 -->
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <!-- 修改系统设置 -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_GSERVICES" />
    <!-- 修改或删除您共享存储空间中的内容 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 添加或修改日历活动，并在所有者不知情的情况下向邀请对象发送电子邮件 -->
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <!-- 新建/修改/删除通话记录 -->
    <uses-permission android:name="android.permission.WRITE_CALL_LOG" />
    <uses-permission android:name="android.permission.WRITE_APN_SETTINGS" />
    <!-- 控制振动 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 防止手机休眠 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- 确定附近超宽带设备之间的相对位置 -->
    <uses-permission android:name="android.permission.UWB_RANGING" />
    <!-- 拨打/接听SIP电话 -->
    <uses-permission android:name="android.permission.USE_SIP" />
    <!-- 在锁定的设备上以全屏活动的形式显示通知 -->
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <uses-permission android:name="android.permission.USE_ICC_AUTH_WITH_DEVICE_IDENTIFIER" />
    <!-- 使用指纹硬件 -->
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <!-- 使用生物特征硬件 -->
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.USE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.UPDATE_PACKAGES_WITHOUT_USER_ACTION" />
    <!-- 发射红外线 -->
    <uses-permission android:name="android.permission.TRANSMIT_IR" />
    <uses-permission android:name="android.permission.SUBSCRIBE_TO_KEYGUARD_LOCKED_STATE" />
    <!-- 此应用可显示在其他应用上方 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />
    <!-- 卸载快捷方式 -->
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.UPDATE_DEVICE_STATS" />
    <uses-permission android:name="android.permission.STATUS_BAR" />
    <!-- 授权使用“查看权限” -->
    <uses-permission android:name="android.permission.START_VIEW_PERMISSION_USAGE" />
    <uses-permission android:name="android.permission.START_FOREGROUND_SERVICES_FROM_BACKGROUND" />
    <uses-permission android:name="android.permission.SMS_FINANCIAL_TRANSACTIONS" />
    <uses-permission android:name="android.permission.SIGNAL_PERSISTENT_PROCESSES" />
    <!-- 开始查看应用功能 -->
    <uses-permission android:name="android.permission.START_VIEW_APP_FEATURES" />
    <!-- 调整您的壁纸大小 -->
    <uses-permission android:name="android.permission.SET_WALLPAPER_HINTS" />
    <!-- 设置时区 -->
    <uses-permission android:name="android.permission.SET_TIME_ZONE" />
    <uses-permission android:name="android.permission.SET_PROCESS_LIMIT" />
    <uses-permission android:name="android.permission.SET_DEBUG_APP" />
    <!-- 设置壁纸 -->
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.SET_TIME" />
    <uses-permission android:name="android.permission.SET_PREFERRED_APPLICATIONS" />
    <uses-permission android:name="android.permission.SET_ALWAYS_FINISH" />
    <uses-permission android:name="android.permission.SET_ANIMATION_SCALE" />
    <!-- 设置闹钟 -->
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <!-- 发送短信 -->
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <!-- 关闭其他应用 -->
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.SEND_RESPOND_VIA_MESSAGE" />
    <!-- 请求屏幕锁定复杂度 -->
    <uses-permission android:name="android.permission.REQUEST_PASSWORD_COMPLEXITY" />
    <uses-permission android:name="android.permission.REQUEST_OBSERVE_COMPANION_DEVICE_PRESENCE" />
    <!-- 请求安装文件包 -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <!-- 请求删除文件包 -->
    <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES" />
    <!-- 在后台使用数据 -->
    <uses-permission android:name="android.permission.REQUEST_COMPANION_USE_DATA_IN_BACKGROUND" />
    <uses-permission android:name="android.permission.REQUEST_COMPANION_START_FOREGROUND_SERVICES_FROM_BACKGROUND" />
    <uses-permission android:name="android.permission.REQUEST_COMPANION_SELF_MANAGED" />
    <uses-permission android:name="android.permission.REQUEST_COMPANION_PROFILE_WATCH" />
    <uses-permission android:name="android.permission.REQUEST_COMPANION_PROFILE_AUTOMOTIVE_PROJECTION" />
    <uses-permission android:name="android.permission.REQUEST_COMPANION_PROFILE_COMPUTER" />
    <!-- 在后台运行 -->
    <uses-permission android:name="android.permission.REQUEST_COMPANION_RUN_IN_BACKGROUND" />
    <!-- 对正在运行的应用重新排序 -->
    <uses-permission android:name="android.permission.REORDER_TASKS" />
    <uses-permission android:name="android.permission.REQUEST_COMPANION_PROFILE_APP_STREAMING" />
    <!-- 录音 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- 接收讯息（短信） -->
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <!-- 接收讯息 (WAP) -->
    <uses-permission android:name="android.permission.RECEIVE_WAP_PUSH" />
    <!-- 接收讯息（彩信） -->
    <uses-permission android:name="android.permission.RECEIVE_MMS" />
    <!-- 读取同步统计信息 -->
    <uses-permission android:name="android.permission.READ_SYNC_STATS" />
    <uses-permission android:name="android.permission.REBOOT" />
    <!-- 开机启动 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="com.android.voicemail.permission.READ_VOICEMAIL" />
    <!-- 读取同步设置 -->
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <!-- 读取电话号码 -->
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />
    <!-- 读取短信 -->
    <uses-permission android:name="android.permission.READ_SMS" />
    <!-- 读取手机状态和身份 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_PRECISE_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_NEARBY_STREAMING_POLICY" />
    <!-- 从共享存储空间读取视频文件 -->
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <!-- 读取共享存储空间中的图片文件 -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <!-- 从共享存储空间读取音频文件 -->
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.READ_INPUT_STATE" />
    <!-- 读取联系人 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!-- 读取基本电话状态和身份信息 -->
    <uses-permission android:name="android.permission.READ_BASIC_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_HOME_APP_SEARCH_DATA" />
    <!-- 读取您共享存储空间中的内容 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 读取日历活动和详情 -->
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <!-- 读取通话记录 -->
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.READ_ASSISTANT_APP_SEARCH_DATA" />
    <!-- 查询所有软件包 -->
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />
    <!-- 重新设置外拨电话的路径 -->
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <!-- 显示通知 -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS" />
    <!-- 让应用始终运行 -->
    <uses-permission android:name="android.permission.PERSISTENT_ACTIVITY" />
    <uses-permission android:name="android.permission.OVERRIDE_WIFI_CONFIG" />
    <!-- 首选 NFC 付款服务信息 -->
    <uses-permission android:name="android.permission.NFC_PREFERRED_PAYMENT_INFO" />
    <uses-permission android:name="android.permission.NFC_TRANSACTION_EVENT" />
    <!-- 控制近距离通信 -->
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.MOUNT_FORMAT_FILESYSTEMS" />
    <!-- 与附近的 WLAN 设备互动 -->
    <uses-permission android:name="android.permission.NEARBY_WIFI_DEVICES" />
    <uses-permission android:name="android.permission.MODIFY_PHONE_STATE" />
    <uses-permission android:name="android.permission.MEDIA_CONTENT_CONTROL" />
    <uses-permission android:name="android.permission.MASTER_CLEAR" />
    <!-- 更改您的音频设置 -->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.MANAGE_WIFI_NETWORK_SELECTION" />
    <!-- 通过系统转接来电 -->
    <uses-permission android:name="android.permission.MANAGE_OWN_CALLS" />
    <uses-permission android:name="android.permission.MANAGE_WIFI_INTERFACES" />
    <!-- 管理正在进行的通话 -->
    <uses-permission android:name="android.permission.MANAGE_ONGOING_CALLS" />
    <uses-permission android:name="android.permission.MANAGE_MEDIA" />
    <uses-permission android:name="android.permission.LOCATION_HARDWARE" />
    <uses-permission android:name="android.permission.LAUNCH_MULTI_PANE_SETTINGS_DEEP_LINK" />
    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS" />
    <uses-permission android:name="android.permission.LOADER_USAGE_STATS" />
    <!-- 关闭其他应用 -->
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.INSTANT_APP_FOREGROUND_SERVICE" />
    <!-- 拥有完全的网络访问权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_PROFILES" />
    <!-- 安装快捷方式 -->
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.INSTALL_LOCATION_PROVIDER" />
    <!-- 以高采样率访问传感器数据 -->
    <uses-permission android:name="android.permission.HIGH_SAMPLING_RATE_SENSORS" />
    <uses-permission android:name="android.permission.HIDE_OVERLAY_WINDOWS" />
    <uses-permission android:name="android.permission.GLOBAL_SEARCH" />
    <!-- 检索正在运行的应用 -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <!-- 计算应用存储空间 -->
    <uses-permission android:name="android.permission.GET_PACKAGE_SIZE" />
    <!-- 查找设备上的帐号 -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS_PRIVILEGED" />
    <!-- 运行前台服务 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FACTORY_TEST" />
    <!-- 展开/收拢状态栏 -->
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />
    <!-- 停用屏幕锁定 -->
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.DUMP" />
    <uses-permission android:name="android.permission.DIAGNOSTIC" />
    <uses-permission android:name="android.permission.DELIVER_COMPANION_MESSAGES" />
    <uses-permission android:name="android.permission.DELETE_CACHE_FILES" />
    <uses-permission android:name="android.permission.DELETE_PACKAGES" />
    <uses-permission android:name="android.permission.CONTROL_LOCATION_UPDATES" />
    <!-- 连接WLAN网络和断开连接 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 允许接收WLAN多播 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.CLEAR_APP_CACHE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <!-- 更改网络连接性 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_COMPONENT_ENABLED_STATE" />
    <uses-permission android:name="android.permission.CAPTURE_AUDIO_OUTPUT" />
    <!-- 拍摄照片和视频 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.BIND_VISUAL_VOICEMAIL_SERVICE" />
    <uses-permission android:name="android.permission.BIND_VOICE_INTERACTION" />
    <uses-permission android:name="android.permission.BIND_VR_LISTENER_SERVICE" />
    <!-- 与蓝牙设备配对 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BIND_VPN_SERVICE" />
    <!-- 访问蓝牙设置 -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BIND_WALLPAPER" />
    <!-- 连接到已配对的蓝牙设备 -->
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_PRIVILEGED" />
    <!-- 在使用期间可访问身体传感器数据，如心率 -->
    <uses-permission android:name="android.permission.BODY_SENSORS" />
    <!-- 向附近的蓝牙设备广播 -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />
    <!-- 发现附近的蓝牙设备并与其配对 -->
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_REMOVED" />
    <uses-permission android:name="android.permission.BROADCAST_SMS" />
    <uses-permission android:name="android.permission.BROADCAST_WAP_PUSH" />
    <!-- 拨打电话 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!-- 查看并控制通过系统拨打的电话。 -->
    <uses-permission android:name="android.permission.CALL_COMPANION_APP" />
    <uses-permission android:name="android.permission.CALL_PRIVILEGED" />
    <!-- 发送持久广播 -->
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <!-- 在后台运行时可访问身体传感器数据，如心率 -->
    <uses-permission android:name="android.permission.BODY_SENSORS_BACKGROUND" />

    <application
        android:largeHeap="true"
        android:name="com.androlua.LuaApplication"
        android:persistent="true"
        android:resizeableActivity="true"
        android:supportsPictureInPicture="true"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="OpenLuaX+"
        android:usesCleartextTraffic="true"
        android:hardwareAccelerated="true"
        android:requestLegacyExternalStorage="true"
        android:theme="@style/AppTheme.Material3">

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <meta-data
            android:name="android.max_aspect"
            android:value="4" />

        <meta-data
            android:name="EasyGoClient"
            android:value="true" />

        <activity
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="OpenLuaX+"
            android:launchMode="singleTask"
            android:exported="true"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:name="com.androlua.Main">
            <intent-filter>
                <action
                    android:name="android.intent.action.VIEW" />
                <category
                    android:name="android.intent.category.DEFAULT" />
                <category
                    android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="file" />
                <data android:scheme="content" />
                <data
                    android:mimeType="application/alp" />
                <data android:host="*" />
                <data android:pathPattern=".*\.alp" />
            </intent-filter>
            <intent-filter>
                <action
                    android:name="android.intent.action.VIEW" />
                <category
                    android:name="android.intent.category.DEFAULT" />
                <category
                    android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:host="*" />
                <data
                    android:mimeType="application/octet-stream" />
                <data
                    android:mimeType="application/alp" />
            </intent-filter>
        </activity>

        <activity
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:label="OpenLuaX+"
            android:name="com.androlua.LuaActivity"
            android:exported="true"
            android:theme="@style/AppTheme.Material3">
            <intent-filter>
                <action
                    android:name="android.intent.action.VIEW" />
                <category
                    android:name="android.intent.category.DEFAULT" />
                <category
                    android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="androlua" />
                <data android:host="github.znzsofficial.openlua" />
            </intent-filter>
            <intent-filter>
                <action
                    android:name="android.intent.action.VIEW" />
                <action
                    android:name="android.intent.action.EDIT" />
                <category
                    android:name="android.intent.category.DEFAULT" />
                <category
                    android:name="android.intent.category.BROWSABLE" />
                <data
                    android:mimeType="application/lua" />
                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:host="*" />
            </intent-filter>
            <intent-filter>
                <action
                    android:name="android.intent.action.VIEW" />
                <category
                    android:name="android.intent.category.DEFAULT" />
                <category
                    android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:mimeType="text/*" />
                <data android:host="*" />
                <data android:pathPattern=".*\.lua" />
            </intent-filter>
        </activity>

        <activity
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:documentLaunchMode="intoExisting"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:excludeFromRecents="false"
            android:label="OpenLuaX+"
            android:exported="true"
            android:name="com.androlua.LuaActivityX">
        </activity>

        <activity
            android:label="OpenLuaX+"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:name="com.androlua.Welcome"
            android:exported="true"
            android:theme="@style/AppWelcome">

            <intent-filter>

                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>

        </activity>

        <service
            android:enabled="true"
            android:name="com.androlua.LuaService" />

        <service
            android:enabled="true"
            android:exported="true"
            android:label="OpenLuaX+"
            android:name="com.androlua.LuaAccessibilityService"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />

            <intent-filter>

                <action android:name="android.accessibilityservice.AccessibilityService" />

                <category android:name="android.accessibilityservice.category.FEEDBACK_AUDIBLE" />

                <category android:name="android.accessibilityservice.category.FEEDBACK_HAPTIC" />

                <category android:name="android.accessibilityservice.category.FEEDBACK_SPOKEN" />

            </intent-filter>

        </service>
    </application>
</manifest>
